<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.seizonsenryaku.hayailauncher"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.seizonsenryaku.hayailauncher.activities.SearchActivity"
            android:alwaysRetainTaskState="true"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seizonsenryaku.hayailauncher.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppSettingsTheme" >
        </activity>
        <activity
            android:name="com.seizonsenryaku.hayailauncher.activities.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <receiver android:name=".PackageChangedReceiverService">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>
